*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

.whole{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width: 10px) and (max-width: 500px) {
    .whole{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}

.left-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: #000000;
    padding: 25px;

}

.left-top-cont{
    text-align: start;
}

.left-bottom-cont{
    width: 100%;
    height: 70%;
    text-align: center;
}

.left-top-cont h2{
    color: #575A85;
    font-size: 40px;
    margin-bottom: 10px;
}



.left-top-cont p{
    color: #B8BCCC;
    font-size: 20px;
}

.img{
    width: 382px;
    height: 362px;
}

@media screen and (min-width: 10px) and (max-width: 600px) {
    .left-cont{
        width: 100%;
        padding-bottom: 10px;
    }
    .left-top-cont h2{
        color: #575A85;
        font-size: 30px;
        margin-bottom: 6px;
    }

    .left-top-cont p{
        color: #B8BCCC;
        font-size: 15px;
    }

    .img{
        width: 90%;
        height: 200px;
        margin-bottom: 15px;
    }
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    .left-top-cont h2{
        color: #575A85;
        font-size: 35px;
        margin-bottom: 6px;
    }

    .left-top-cont p{
        color: #B8BCCC;
        font-size: 20px;
    }

    .img{
        width: 90%;
        height: 300px;
    }
}

.right-cont{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #575A85;
}

.right-cont h2{
    color: #B8BCCC;
    font-size: 30px;
    text-align: center;
}

.span-ip-address{
    color: white;
    font-size: 30px;
}

.get-started-btn{
    width: 130px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;

    border-radius: 8px;
    border: 1px solid #B8BCCC;
    color: #B8BCCC;
    background-color: transparent;
    transition-duration: 0.4s;
    cursor: pointer;
}

.get-started-btn:active{
    transform: translateY(4px);
}

@media screen and (min-width: 10px) and (max-width: 600px) {
    .right-cont{
        width: 100%;
    }

    .right-cont h2{
        color: #B8BCCC;
        font-size: 25px;
        text-align: center;
    }
    
    .span-ip-address{
        color: white;
        font-size: 20px;
    }
    
    .get-started-btn{
        width: 130px;
        height: 40px;
        margin-top: 10px;
        font-size: 16px;

    }
}

@media screen and (min-width: 600px) and (max-width: 90px) {
    .right-cont{
        width: 100%;
    }

    .right-cont h2{
        color: #B8BCCC;
        font-size: 30px;
        text-align: center;
    }
    
    .span-ip-address{
        color: white;
        font-size: 25px;
    }
    
    .get-started-btn{
        width: 130px;
        height: 40px;
        margin-top: 10px;
        font-size: 16px;

    }
}